.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 16px;
  min-height: 100vh;
  max-width: 780px;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 20px;
}

.welcomeContainer {
  position: relative;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.welcomeContainer .welcomeText { 
  font-size: 15px; 
  font-weight: 400;
  width: 270px;
}
.welcomeContainer .usernameText {
  font-size: 24px;
  font-weight: 500;
  display: -webkit-box;
}
.welcomeContainer .emphasisText {
  color: #703CFF;
  font-weight: 500;
}
.welcomeContainer .emphasisText::after {
  content: "|";
  opacity: 1;
  animation: typeWriteEffect .7s infinite;
}
.welcomeContainer .scrollDownContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  opacity: .6;
  position: absolute;
  bottom: 30px;
  transform: scale(.7) translateY(-20px);
  animation: arrowBouncingEffect .95s infinite;
}
.welcomeContainer .scrollDownIsHidde { animation: scrollDownIsHiddeEffect .95s forwards; }
.scrollDownContainer .scrollDownIcon { 
  font-size: 1.6rem; 
  transform: rotate(180deg);
}


.aboutMeContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}
.aboutMeContainer .descriptionText { line-height: 26px; }
.aboutMeContainer .descriptionText > .emphasisText { color: #703CFF; }

.skillsContainer {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.projectsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes typeWriteEffect {
  0%, 100% { opacity: 1; }

  50% { opacity: 0; }
}
@keyframes arrowBouncingEffect {
  0%, 100% { 
    opacity: .6;
    transform: scale(.7) translateY(-20px); 
  }
  
  50% { 
    opacity: 1;
    transform: scale(1) translateY(0); 
  }
}
@keyframes scrollDownIsHiddeEffect {
  0% {
    opacity: .6;
    transform: scale(.7) translateY(-20px); 
  }

  100% {
    opacity: 0;
    transform: scale(1) translateY(0);
  }
}

@media (max-width: 640px) {
  .welcomeContainer { flex-direction: column; }
  .aboutMeContainer { flex-direction: column-reverse; }
}